textarea{height:auto;}
a.btn:hover{text-decoration:none !important}
img{max-width: 100%;height: auto;max-height:auto}
button.image{border:none;background:none;cursor:hand;}
label{font-weight:400}

/* fine tune bootstrap */
.nav-item{font-size:1rem}
.tooltip-inner{text-align:left}
.rating .oi-star{color:#e67e22}
.rating .oi-star.half{position:relative}
.rating .oi-star.half:before{position:relative;z-index:9;width:50%;display:block;overflow:hidden}
.rating .oi-star.half:after{content:'\e0c2';position:absolute;z-index:8;color:#bbb;top:0;left:0}
.rating .oi-star.empty{color:#bbb}
.navbar-brand>img {max-height: 40px;padding: 0px;width: auto;}
.navbar-brand {padding:7px 7px 7px 15px;margin-top: 0px;}

.card > .table{border-right:0;border-left:0;margin-bottom:0}
.card > .table:last-child{border-bottom:0}
.card > .table td:first-child,.card > .table th:first-child{border-left:0}
.card > .table td:last-child,.card > .table th:last-child{border-right:0}
.card > .table tr:first-child td,.card > .table tr:first-child th{border-top:0}
.card > .table tr:last-child td{border-bottom:0}
.card .card-header + .table{border-top:0}

.btn-group-xs > .btn, .btn-xs {	padding: .25rem .4rem;	font-size: .875rem;	line-height: .5;	border-radius: .2rem;  }

.icon-stack { position: relative; }
.icon-stack .glyphicon { position: absolute; }
.icon-sort { position: relative;padding:0 15px 0 5px;font-size:8pt }
.icon-sort .oi { position: absolute;font-size:8pt; }
.icon-sort .oi:nth-child(1){margin-top:-4px;color:#bbb}
.icon-sort .oi:nth-child(2){margin-top:2px;color:#bbb}
div.nowrap {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height:2rem}
div.nowrap:hover{position:absolute;background:beige;outline:solid 1px #888;height:auto;-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);width:auto;max-width:300px;white-space: normal;}
.nowrap-sm{width:100px}
.nowrap-md{width:150px}
th{white-space: nowrap}

/* SORTABLE */
.fsort:hover{cursor:all-scroll;margin-right:0}
.sortable-ghost{background:#eee;border-style:dashed}
.sortable-chosen{border-style:dashed}
.sortable-drag{border-style:dashed}

/* basic */
.help{position:relative;cursor:help;background:#000;color:#fff;padding:4px 6px;border-radius:50%;font-size:0.6rem;vertical-align: middle;text-align:center;}
.icon-xs{font-size:10px}
.icon-s{font-size:12px}
.icon{font-size:14px}
.icon-l{font-size:16px}
.icon-xl{font-size:20px}
.small{font-size:10px;}
.required{color:#f00;font-weight:700}
.inline_code,.code{font:15px Consolas, Courier New, Courier;width:90%;color:#444;background:#eee;border:solid 1px #999;border-radius:2px;padding:3px;margin:5px 0 20px 0;}
.code{line-height: 140%}
#page_attachment{border-radius:3px; border:solid 1px #99f; padding:3px; background:#ddf; margin-bottom:5px}
#page_attachment div.l1{position:relative;float:left;left:-6px}
#page_info div{color:#666}
#system_msg {max-width:700px;padding:20px}

/* acp shortcuts */
.edit_in_acp{position:relative;opacity:0.7;z-index:100;}
.edit_in_acp>div{position:absolute;top:0;left:0;text-decoration:none;width:100px;}
.edit_in_acp:hover{opacity:1;transition:all 0.3s;text-decoration:none;z-index:101}
#acp_shortcuts{background:#000;padding:5px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAI7duz4TyqHgYEBAKthDJ106HrtAAAAAElFTkSuQmCC);}
#notification-dot{margin:0;color:#f00;font-weight:800;padding:0;font-size:16px;line-height: 0}
#notification-dot span{margin-left:-3px;margin-right:-9px;}

/* responsive table */
.table_div{width:100%}
.table_div>div{clear:both}
.table_div>div>legend{width:25%;float:left;text-align:left;padding-right:10px;margin: 0 0 15px 0;border:none;font-size:14px}
.table_div>div>div{float:right;width:70%}
.table_div input[type=text],.table_div input[type=email],.table_div input[type=url],.table_div input[type=url],.table_div input[type=password],.table_div textarea{width:90%;max-width:250px;margin-bottom:5px}
.table_div input.username{max-width:180px}
.table_div input.password{max-width:180px}
.table_div>div.required{color:#f00;font-weight:bold}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* list */
ul.list_account {margin-left:0;list-style:none;padding-left:0}
ul.list_account li{margin-bottom:15px;margin-left:0;padding-left:0}
ul.list_account li::before{content:"•"; margin-right:10px;}

.list_1,.list_2, .list_3{list-style:none;margin-left:0;padding-left:0;margin-bottom:3px;}
.list_1 ul,.list_2 ul, .list_3 ul{list-style:none}
.list_1 li::before{content:"•"; margin-right:10px;}
.list_2 li::before{content:"»"; margin-right:10px;}

/* qcomment */
.comment_num{font-size:25px;padding:5px;background:#000;color:#fff;border-radius:3px}
.comment_box_not_approved,.comment_box{margin-top:10px;margin-bottom:10px;padding-bottom:10px}
.comment_box_not_approved{border:solid 1px beige;padding:3px}
.comment_box_right{}
.comment_title{font:bold 14px Arial, Helvetica;letter-spacing:1px;}
.comment_helpful{font:italic 12px Arial, Helvetica;padding-left:35px;}
.comment_shorten{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.conc_box{margin-bottom:10px;margin-left:50px;border-left:solid 2px #ddd;padding-left:20px}
.conc_right{}
.comment_box_left, .conc_left{color:#888;font-size:10px;margin-top:10px}
#qcomment_form:target{animation:qcomment_form_targetted 2s}
@keyframes qcomment_form_targetted{
	0% {background:#fff}
	10% {background:#fdd}
	100% {background:#fff}
}

/* Bootstrap XS */
@media screen and (max-width: 767px) {
.table_div>div{height:auto;margin-bottom:10px}
.table_div>div>legend, .table_div>div>div{float:none;width:auto;height:auto;margin:0}
select{width:100%}
#system_msg {width:auto}
}

/* Bootstrap SM */
@media screen and (min-width: 768px) and (max-width: 991px) {
select{width:100%}
#system_msg {max-width:500px;}
}

/* Bootstrap MD */
@media screen and (min-width: 992px) and (max-width: 1199px) {
#system_msg {max-width:600px;}
}

/* Bootstrap LG is the default css */